<link href="~/css/konto.css" rel="stylesheet" />

<div class="logindiv">

    @if (ViewBag.ErrorMessage != null) {
        <p>@ViewBag.ErrorMessage</p>
    }

    <div class="login-box">
        <form method="post" action="/Account/Login">
            <input type="text" name="username" placeholder="Användarnamn" required>
            <input type="password" name="password" placeholder="Lösenord" required>
            <button type="submit" class="login-button">Logga in</button>
        </form>
    <div/> 
</div>
