@model CleaningService.Models.CleaningAPI



    <form asp-action="SubmitForm" asp-controller="Create" class="CreateForm">

        <label>RumID</label><br />
        <input type="number" asp-for="RoomId" required /><br />

        <label>PersonalID:</label><br />
        <input type="number" asp-for="StaffId" required /><br />

        <label>Kommentar:</label><br />
        <input type="text" asp-for="ReportedDamages" /><br />


        <label>Städstatus:</label>
        <select asp-for="IsCleaning">
            <option value="false">Nej</option>
            <option value="true">Ja</option>
        </select>
        <br><br>

    <button class="btn btn-success" type="submit" >Spara</button><br />

        <a href="@Url.Action("Clean", "Home")" class="btn btn-secondary">Tillbaka</a>

    </form>
